.App {
  width: 100vw;
  height: 100vh;
  background-color: grey;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.list {
  display: flex;
  gap: 50px;
  height: 100%;
  align-items: center;
}